{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

    <div class="parallax-container valign-wrapper">
        <div class="container">
            <h1 class="header center light-green-text text-lighten-2">Liste des films</h1>
            {{ dump(Liste) }}
        </div>
    </div>

{% endblock %}