{% extends 'base.html.twig' %}

{% block title %}Affichage des Genres{% endblock %}

{% block body %}

    <div class="page-wrapper">

        <section id="wrapper">
            <header>
                <div class="inner">
                    <div class="logo"><span class="icon fa-archive"></span></div>
                    <h2>Affichage des Genres</h2>
                    <p>A partir de la base de donn&eacute ;es.</p>
                </div>
            </header>
            <div class="wrapper">
                <div class="inner">
                    <section>
                        <h3 class="major">Ajout d’un genre</h3>
                        {{ form_start(form) }}
                        {{  form_widget(form) }}
                        <br /><button>Envoyer</button>
                        {{  form_end(form) }}
                    </section>

                    <section>
                        <h3 class="major">Liste des genres</h3>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                <tr>
                                    <th>Intitul&eacute;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in genres %}
                                    <tr>
                                        <td>{{ i.intitule }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>Total : {{ total }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>
                </div>
            </div>

        </section>

    </div>
{% endblock %}