{% extends 'base.html.twig' %}

{% block title %}Affichage des Films{% endblock %}

{% block body %}

    <div class="page-wrapper">

        <section id="wrapper">
            <header>
                <div class="inner">
                    <div class="logo"><span class="icon fa-file"></span></div>
                    <h2>Affichage des internautes</h2>
                    <p>A partir de la base de données.</p>
                </div>
            </header>

            <div class="wrapper">
                <div class="inner">

                    <section>
                        <h3 class="major">Liste des internautes</h3>
                        <h4>
                            <span class="icon fa-user"></span>
                            <a href="{{ path('ajout_internaute') }}">Ajouter un internaute</a>
                        </h4>

                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Pr&eacute;nom</th>
                                    <th>R&eacute;gion</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in internautes %}
                                    <tr>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.nom }}</td>
                                        <td>{{ i.prenom }}</td>
                                        <td>{{ i.region }}</td>
                                        <td><a href="{{ path('modifier_internaute', {'id': i.id}) }}">
                                                <span class="icon fa-edit"></span></a></td>
                                        <td><a href="{{ path('supprimer_internaute', {'id': i.id}) }}">
                                                <span class="icon fa-trash-alt"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>Total : 0</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>
                </div>
            </div>

        </section>

    </div>
{% endblock %}