{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <section id="wrapper">
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="{{ asset('images/logoflat.png') }}" alt=""/></a>
                <div class="content">
                    <h2 class="major">SLAM</h2>
                    <p>Une production... du
                        <a href="https://www.vinsio.fr"> BTS SIO</a></p>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
