{% extends 'base.html.twig' %}

{% block title %}Affichage des Films{% endblock %}

{% block body %}

    <div class="page-wrapper">

        <section id="wrapper">
            <header>
                <div class="inner">
                    <div class="logo"><span class="icon fa-film"></span></div>
                    <h2>Affichage des films</h2>
                    <p>A partir de la base de donn&eacute ;es.</p>
                </div>
            </header>
            <div class="wrapper">
                <div class="inner">
                    <section>
                        <h3 class="major">Liste des films</h3>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Annee</th>
                                    <th>Genre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in films %}
                                    <tr>
                                        <td>{{ i.titre }}</td>
                                        <td>{{ i.annee }}</td>
                                        <td>{{ i.genre.intitule }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>Total : 0</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>
                </div>
            </div>

        </section>

    </div>
{% endblock %}