<!DOCTYPE html>

<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>{% block title %}Bienvenue !{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
        <noscript>
            <link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}"/>
        </noscript>
    {% endblock %}

</head>
<body class="is-preload">

<div id="page-wrapper">

    <header id="header" class="alt">
        <h1><a href="index.html">Solid State</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="{{ path('internaute') }}">Internaute</a></li>
                <li><a href="{{ path('genre') }}">Genres</a></li>
                <li><a href="{{ path('film') }}">Films</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>

    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-file-image"></span></div>
            <h2>Voici GoodMovie</h2>
            <p>Un site responsive d&eacute;velopp&eacute; &agrave; partir de
                <a href="https://symfony.com/4">Symfony</a></p>
        </div>
    </section>


    {% block body %}{% endblock %}

    {% block footer %}
        <section id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>&copy; Untitled Inc. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </section>
    {% endblock %}

</div>

{% block javascripts %}

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/util.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

{% endblock %}

</body>
</html>
